body {
  background-color: #9de3fc;
  height: 100%;
}

#skrollr-body {
  height: 100%;
  width: 100%;
}

.parallax-container {
  position: relative;
  height: 100%;
  z-index: -1;
  background-color: #9de3fc;
}

.parallax {
  background-position: bottom center;
  background-size: 101%;
  background-repeat: repeat-x;
  position: fixed;
  height: 750px;
  max-height: 100%;
  width: 100%;
}

.logo {
  position: absolute;
  display: inline-block;
  height: 250px;
  width: 250px;
  z-index: 99;
  text-align: center;
  left: calc(50% - 125px);
  margin-top: 2em;
  background-repeat: no-repeat;
  background-image: url('img/logo.svg');
}

.logo button {
  position: relative;
  top: 300px;
  background-image: url('img/board-0.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: inherit;
  border: none;
  width: 200px;
  height: 50px;
  color: #fff;
  font-weight: 600;
  font-family: Montserrat;
  letter-spacing: 0.4em;
  transition: 150ms;
}

.logo button:focus {
  outline: none;
}

.logo button:hover {
  transform: translateY(-5px);
}

.p0 {
  background-image: url('img/parallax-0.svg');
}
.p1 {
  background-image: url('img/parallax-1.svg');
}
.p2 {
  background-image: url('img/parallax-2.svg');
}
.p3 {
  background-image: url('img/parallax-3.svg');
}
.p4 {
  background-image: url('img/parallax-4.svg');
}

.landing-div {
  position: relative;
  width: 100%;
  z-index: 99;
  background-color: #428999;
  height: 200px;
}

.main {
  z-index: 999;
  display: inline-block;
  /*background-color: #eee;*/
  width: 100%;
  height: 1800px;
  background-color: rgba(0,0,0,0);
}

.sections {
  width: 90%;
  max-width: 50em;
  margin: 0 auto;
}
